<div
  class="row align-items-start products justify-content-center"
  style="margin-left: 4rem"
  *ngIf="products || (productsObs | async) as products"
>
  <div [style]="{'margin-right':'2rem'}" class="col-12 mt-4 mb-3   d-flex justify-content-end">
    <!-- <span class="mt-2 mx-3" >sortBy</span> -->
    <p-dropdown
      [style]="{ width: '270px' }"
      [(ngModel)]="sortBy"
      [options]="sortByOptions"
      optionLabel="name"
      (onChange)="changeSortBy($event)"
    >
      <ng-template let-sortBy pTemplate="selectedItem">
        <div class="flex align-items-center gap-2">
          <div><span class="bold">Sort By:</span> {{ sortBy.name }}</div>
        </div>
      </ng-template>
    </p-dropdown>
    <!-- <i class="mx-3 mt-2 pi pi-sort-amount-down" ></i>
     <i class="mx-3 mt-2 pi pi-sort-amount-down-alt" ></i> -->
  </div>

  <!-- <div class="col-lg-12 mb-4 " id= "products">
    <ul class="filter__controls">

      <li (click)="listAllProducts()" [ngClass]="{'active mixitup-control-active': currentCategory=='all'}"  data-filter="*">All</li>
      <ng-container *ngIf="listCategories | async as categories" >
      <li *ngFor="let category of categories" (click)="listbyCategory(category._id)" [ngClass]="{'active mixitup-control-active': currentCategory==category._id}">{{category.name}}</li>
    </ng-container>
      

    </ul>
  </div>   -->
  <div class="col-12 d-flex mb-3">
    <div class="col-3" (click)="showFilters = !showFilters">
      <i class="pi pi-filter"></i>
      {{ showFilters ? "Hide Filters" : "Show Filters" }}
    </div>

    <div *ngIf="filter || currentCategory !== 'all'" class="col-9">
      Selected Filters:
      <p-tag
        *ngIf="currentCategory !== 'all'"
        (click)="currentCategory='all'; listAllProducts()"
        icon="pi pi-times"
        [value]="currentCategory?.name"
      ></p-tag>
      <p-tag (click)="filter=undefined; listAllProducts()" *ngIf="filter" icon="pi pi-times" value="Discounts"></p-tag>
    </div>
  </div>
  <div *ngIf="showFilters" class="col-lg-2">
    <p-panelMenu
      [model]="items"
      [style]="{ 'min-width': '200px', 'margin-left': '2rem' }"
    ></p-panelMenu>
  </div>
  <div [ngClass]="showFilters ? 'col-lg-10' : 'col-lg-12'">
    <app-products-grid [products]="products"></app-products-grid>
  </div>
</div>
