


.row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    line-height: 1;
    align-items: center;

}
.filter__controls{
    text-align: center;
}
.filter__controls li.active {
    color: #111111;
}
.filter__controls li {
    color: #b7b7b7;
    font-size: 24px;
    font-weight: 700;
    list-style: none;
    display: inline-block;
    margin-right: 88px;
    cursor: pointer;
}

i{
    font-size: 1.5rem;
}

.bold {
    margin-right: 8px;
    font-weight: 700;
}

