<div class="card">
  <p-carousel [value]="products" [numVisible]="1" [circular]="true" [autoplayInterval]="2000" contentClass="content">
    <ng-template let-product pTemplate="item">
      <div class="border-1 m-2 text-center item">
        <div class="details">
          <h6 class="mb-1">{{ product.name }}</h6>
          <h2 class="mt-0 mb-3">{{ product.description }}</h2>
          <!-- <p>A specialist label creating luxury essentials. Ethically crafted with an unwavering
                        commitment to exceptional quality.</p> -->
          <!-- <p-tag [value]="product.inventoryStatus" [severity]="getSeverity(product.inventoryStatus)"></p-tag> -->
          <a href="#products" class="primary-btn">Shop now <span class="arrow_right"></span></a>
          <!-- <div class="car-buttons mt-5">
                        <p-button type="button" styleClass="p-button p-button-rounded mr-2" icon="pi pi-search"></p-button>
                        <p-button type="button" styleClass="p-button-success p-button-rounded mr-2" icon="pi pi-star-fill"></p-button>
                    </div> -->
        </div>
        <div>
          <img [src]="product.image" [alt]="product.name" [height]="product.height" />
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>