.item {
    display: flex;
    justify-content: space-around;
}
.details {
    margin: 10rem;
    width: 40%;
    text-wrap: balance;

}
.primary-btn {
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1em 2em;
    color: #ffffff;
    background: #000000;
    letter-spacing: 4px;
}