.contact-us-container {
    // background: url(../../../../assets/images/all-bg-title.jpg);
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
    padding: 70px 0;
    position: relative;
}