.products {
    margin: auto;
    width: 90%;
    gap: 20px;
    div {
    min-width: 300px;

    }
}
.noProducts {
    width:70%;
    margin:auto;
    border-bottom: 4px solid #e5e5e5;
    text-align: center;
}




