header {
    position: fixed;
    top: 0;
    z-index: 10000;
    width: 100%;
}
.container {
    padding:2%
}
.nav-link {
    padding: 0;
}


.navbar-brand {
    min-width: 33%;
}
.navbar-nav{
    flex-direction: column;
}
li {
    max-width: 70px;
}
.navbar-brand:hover::after {
        display: none
    }

.sup {
   padding: 0.2rem 0.3rem;
    background-color: red;
    border-radius: 50%; 
    color: white;
    font-weight: bold;
    font-family: cursive;
}
@media only screen and (min-width: 1000px) {
    .navbar-nav{
        flex-direction: row;
    }
   
  }