<div class="p-3" style="background-color: #f4f4f4">
    <div class="back" (click)="goBack()" ><i style="font-size: 2rem;" class=" pi pi-chevron-left" ></i>{{ " back" }}</div><br>

  <br />
  <ng-container *ngIf="cartObs | async as cart">
  <div class="d-flex">
    <div class="col-8">
      <div class="d-flex cart-item">
        <p-checkbox
          [value]="true"
          [binary]="true"
          inputId="binary"
          label="All Items"
        ></p-checkbox>
      </div>
     
        <div *ngFor="let product of cart.cartItems" class="d-flex justify-content-between cart-item mt-2">
          <p-checkbox
            
            [ngModel]="true"
            [binary]="true"
            [label]="product.title"
          ></p-checkbox>
          <div class=" ">
            <!-- <div class=" col-5 col-lg-2  mx-3" >
            <img [src]="product.thumbnail" [alt]="" class="" />
        </div> -->
            <div class="" >
              <span>{{ product.price }} EGP</span>
              <div class="ml-2 d-flex">
                <p-inputNumber
                  [(ngModel)]="product.quantity"
                  [showButtons]="true"
                  buttonLayout="horizontal"
                  spinnerMode="horizontal"
                  inputId="horizontal"
           
                  incrementButtonIcon="pi pi-plus"
                  decrementButtonIcon="pi pi-minus"
                ></p-inputNumber>
                <i class="mt-3 mx-2 pi pi-heart" ></i>
                <i class="mt-3 mx-2 pi pi-trash" ></i>

              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="">
        <div class="cart-item mx-2 mb-2">
            <h4>Order Summary</h4>
            <h4 style="text-align: end;" >{{cart.totalCartPrice}}   EGP</h4>

            <button  class=" btn primary-btn"  >Checkout Now </button>
        </div>
        <div class="cart-item mx-2 mb-2">
            <h4>We Accept</h4>
            <img class="payment-icon" src="/assets/images/payment-icon/1.png" alt="">
            <img class="payment-icon" src="/assets/images/payment-icon/2.png" alt="">
            <img class="payment-icon" src="/assets/images/payment-icon/3.png" alt="">
            <img class="payment-icon" src="/assets/images/payment-icon/5.png" alt="">
            <img class="payment-icon" src="/assets/images/payment-icon/7.png" alt="">

        </div>
    </div>
  </div>
</ng-container>

</div>
