
.loading {
  // width: 100vw;
  // height: 100%;
  pointer-events: none;
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
}
.layout {
 max-width: 100%;
 overflow: hidden;
}
.progress-spinner {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  /* Transparent Overlay */
  .progress-spinner:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  
  
  
  .ring {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    background: #f5f7fa;
    border: 3px solid black;
    border-radius: 50%;
    text-align: center;
    line-height: 150px;
    font-family: sans-serif;
    font-size: 20px;
    color: black;
    text-shadow: 0 0 10px black;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
     z-index: 999;
  
  }
  
  .ring:before {
  //   content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-top: 3px solid red;
    border-right: 3px solid red;
    border-radius: 50%;
    animation: animateC 2s linear infinite;
  }
  
  span {
    display: block;
    position: absolute;
    top: calc(50% - 2px);
    left: 50%;
    width: 50%;
    height: 4px;
    background: transparent;
    transform-origin: left;
    animation: animate 2s linear infinite;
  
  
  }
  
  span:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: red;
    top: -6px;
    right: -8px;
    box-shadow: 0 0 20px red;
  }
  
  @keyframes animateC {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate {
    0% {
      transform: rotate(45deg);
    }
  
    100% {
      transform: rotate(405deg);
    }
  }
  
  .img{
      position: fixed;
      z-index: 999;
      // height: 11em;
      width: 8em;
      overflow: show;
      margin: auto;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
  }
  
  