
<!-- <router-outlet></router-outlet> -->
<ng-container *ngIf="spinnerObs | async as  loading">
    <div  >
   <div class="ring">
     <span></span>
   </div>
   <img width="100px" height="40px" class="img" src="/assets/images/logo.png" alt="" />
   
    </div> 
   </ng-container>
   <div class="layout" [ngClass]="{'loading': spinnerObs | async}"  >
<ng-container  >
  <app-main-layout>
<router-outlet></router-outlet>

  </app-main-layout></ng-container>
</div>
  <!-- <ng-template #auth >
    <app-login></app-login>
  </ng-template> -->
