<div class="p-3" style="background-color: #f4f4f4">
    <div class="back" (click)="goBack()" ><i style="font-size: 2rem;" class=" pi pi-chevron-left" ></i>{{ " back" }}</div><br>

  <br />
  <ng-container *ngIf="cartObs | async as cart">
  <div class="d-flex">
    <div class="col-8">
      <div class="d-flex cart-item">
        <p-checkbox
          [ngModel]="firstCartItems?.length==cart.cartItems.length"
          [binary]="true"
          inputId="binary"
          label="All Items"
          (onChange)="deselectAll($event)"
        ></p-checkbox>
      </div>
     
        <div *ngFor="let product of firstCartItems" class="d-flex  cart-item mt-2">
     
          <p-checkbox
            
            [ngModel]="cart.cartItems | arrayInlcudes: product"
            [binary]="true"
            (onChange)="changeSelection($event, product, cart.cartItems)"
          ></p-checkbox>
          <div class="  mx-3" >
            <img [src]="product.images[0]" [alt]="" class="" />
        </div>
        <h6 class="col-5" >{{ product.title }}</h6>
          <div class=" ">
           
            <div class="" >
              <span>{{ product.price }} EGP</span>
              <div class="ml-2 d-flex">
                <p-inputNumber
                  [(ngModel)]="product.quantity"
                  [showButtons]="true"
                  buttonLayout="horizontal"
                  spinnerMode="horizontal"
                  inputId="horizontal"
                  (onInput)="updateCartItemQuantity($event,product)"
                  
                  incrementButtonIcon="pi pi-plus"
                  decrementButtonIcon="pi pi-minus"
                ></p-inputNumber>
                <ng-container *ngIf="loggedInUser | async as user" >
                  <i class="mt-3 mx-2 pi pi-heart-fill" *ngIf="user?.wishlist?.includes(product.id); else:empty "  (click)="removeFromFavorites(product)" ></i>
   
                  <ng-template #empty>
                  <i class= "mt-3 mx-2 pi pi-heart" (click)="addToFavorites(product)" ></i>
              
                  </ng-template>
                </ng-container>
                <i class="mt-3 mx-2 pi pi-trash" (click)="deleteItem(product,cart.cartItems)" ></i>

              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="">
        <div class="cart-item mx-2 mb-2">
            <h4>Order Summary</h4>
            <h4 style="text-align: end;" >{{cart.totalCartPrice}}   EGP</h4>

            <button (click)="goToPaymentToken()" class=" btn primary-btn"  >Checkout Now </button>
        </div>
        <div class="cart-item mx-2 mb-2">
            <h4>We Accept</h4>
            <img class="payment-icon" src="/assets/images/payment-icon/1.png" alt="">
            <img class="payment-icon" src="/assets/images/payment-icon/2.png" alt="">
            <img class="payment-icon" src="/assets/images/payment-icon/3.png" alt="">
            <img class="payment-icon" src="/assets/images/payment-icon/5.png" alt="">
            <img class="payment-icon" src="/assets/images/payment-icon/7.png" alt="">

        </div>
    </div>
  </div>
</ng-container>

</div>
