.cart-item {
    border-bottom: 1px solid #e5e5e5; 
    padding: 16px 16px 12px;
    background: #fff;
    text-align: center;

    img {
        width: 6rem;
        height: 5rem;
    }

}
.primary-btn {
    width: 100%;
    
}
.payment-icon
{
    width: 3rem;
    height: 2rem;
}