
.cart-item {
    border-radius: 5px;
    border-bottom: 1px solid #e5e5e5; 
    padding: 16px 16px 12px;
    background: #fff;
    text-align: center;
    justify-content: start;
    align-items: center;

    img {
        width: 6rem;
        height: 5rem;
    }

}

.primary-btn {
    width: 100%;
    
}
.payment-icon
{
    width: 3rem;
    height: 2rem;
}
h6:hover {
    color: black;
}
.row div:nth-child(2) {
    .cart-item{
        margin: 0 0.5rem ;
        padding: 0  0.5rem ;
    }}
@media only screen and (max-width: 1200px) {  

    .row div:nth-child(2) {
        .cart-item{
            margin: 0.5rem 0;
            padding: 0.5rem 0.5rem ;
        }
        
    }
}
@media only screen and (max-width: 500px) {  
.items {
  flex-direction: column;
}
}