<div class="bg">
  <div class="container">
    <div (click)="activeForm='login'" style="text-align: center;padding-top: 2rem;" >
      <img src="/assets/images/logo.png" alt="">
    </div>
<form (click)="activeForm='login'" style="padding: 2rem;" class="login-form"  [formGroup]="myForm" (ngSubmit)="login()" >
      <h4 (click)="activeForm='login'" style="text-align: center;" >Log in</h4>
      
        <div class="form-input field">
          <label class="form-label" for="email">Email </label>
         
          <input
            autocomplete="false"
            id="email"
            placeholder="your email"
            class="form-control"
            type="email"
            pInputText
            formControlName="email"
          />
        </div>
        <ng-container
        [ngTemplateOutlet]="errorTemplate"
        [ngTemplateOutletContext]="{
          formEle:myForm.get('email')
        }"
      >
      </ng-container>
  
 
      
        <div class="form-input field">
          <label class="form-label" for="float-input1"
            >Password
          </label>
          <div class="input-container">
            <input
              class="form-control"
              type="password"
              placeholder="password"
              pInputText
              formControlName="password"
            />
          </div>

          <div
            class="icon-eye-password icon-gray title-xsmall icon-1"
          ></div>
          <ng-container
          [ngTemplateOutlet]="errorTemplate"
          [ngTemplateOutletContext]="{
            formEle:myForm.get('password')
          }"
        >
        </ng-container>
        </div>
      

    <div class="mt-2">

        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            name="example1"
          />
          <label
            class="form-check-label"
            for="customCheck"
          >
            Remember me
          </label>
        </div>
     
    
        <div >
          <a [routerLink]="['/forget-password']" >
            Forgot password?
          </a>
        </div>
      </div>


    <div class=" justify-content-center mt-5">
      <button
        class="btn btn-primary"
        pButton
        type="submit"
      >Login</button>
    </div>
  </form>


  <form class="signup-form" [formGroup]="signupForm" (ngSubmit)="signup()"  [ngClass]="activeForm=='signup'?'activeForm':''"  >
    <h4 (click)="activeForm='signup'" style="text-align: center;" >Sign up</h4>

    
      <div class="form-input field">
        <label class="form-label" for="name">Name </label>
        <input
          autocomplete="false"
          class="form-control"
          type="name"
          placeholder="full name"
          pInputText
          formControlName="name"
        />
      </div>
      <ng-container
      [ngTemplateOutlet]="errorTemplate"
      [ngTemplateOutletContext]="{
        formEle:signupForm.get('name')
      }"
    >
    </ng-container>
  
    <div >
      <div class="form-input field">
        <label class="form-label" for="email">Email </label>
        <input
          autocomplete="false"
          class="form-control"
          type="email"
          placeholder="your email"
          pInputText
          formControlName="email"
        />
      </div>
      <ng-container
      [ngTemplateOutlet]="errorTemplate"
      [ngTemplateOutletContext]="{
        formEle:signupForm.get('email')
      }"
    >
    </ng-container>
    </div>


    <div >
      <div class="form-input field">
        <label class="form-label" for="float-input1"
          >Password
        </label>
        <div class="input-container">
          <input
            class="form-control"
            type="password"
            placeholder="password"
            pInputText
            formControlName="password"
          />
        </div>

        <div
          class="icon-eye-password icon-gray title-xsmall icon-1"
        ></div>
      </div>

      <ng-container
      [ngTemplateOutlet]="errorTemplate"
      [ngTemplateOutletContext]="{
        formEle:signupForm.get('password')
      }"
    >
    </ng-container>
    </div>

  
      <div class="form-input field">
        <label class="form-label" for="float-input1"
          >Confirm Password
        </label>
        
        <div class="input-container">
          <input
            class="form-control"
            type="password"
            pInputText
            placeholder="confirm password"
            formControlName="passwordConfirm"
          />
        </div>


        <div
          class="icon-eye-password icon-gray title-xsmall icon-1"
        ></div>

        <ng-container
        [ngTemplateOutlet]="errorTemplate"
        [ngTemplateOutletContext]="{
          formEle:signupForm.get('passwordConfirm')
        }"
      >
      </ng-container>
      </div>
    

 


  <div class=" justify-content-center mt-2">
    <button
      class="btn btn-primary"
      pButton
      type="submit"
    >Sign up</button>
  </div>
</form>

<ng-template  let-formEle="formEle"   #errorTemplate >
  <div *ngIf="formEle.invalid && 
  formEle.errors && 
  (formEle.dirty || formEle.touched)"  >
<small class="text-danger"
  *ngIf="formEle.hasError('required')">
  This field is required.
</small>
<small class="text-danger"
  *ngIf="formEle.hasError('minlength')">
  The minimum length for this field is {{formEle.errors.minlength.requiredLength}} characters.
</small>
<small class="text-danger"
  *ngIf="formEle.hasError('email')">
 Plaese type email in correct format.
</small>
<small class="text-danger"
  *ngIf="formEle.hasError('PasswordNoMatch')">
 passwords do not match</small>


</div>
</ng-template>
</div>
</div>