.bg {
    display: flex;
    height: 100vh;
    // background: hsl(213deg 85% 97%);
    background: #ddd;
}
h4 {
    cursor: pointer;
&:hover{
    color: #000;
}
}

.container {
    padding: 0 !important;
    background: #fff;
    border-radius: 10px;
    width: 30%;
    margin:   auto;
    padding: 2rem;
    overflow-y: hidden;
    max-height: 80vh;
    box-shadow: 1px 1px 3px  #333;
    min-width: 300px;
    transition: ease-in-out 0.2s;

}
.login-form {
    max-height: 50vh;
}
form {

    width: 100%;

    .btn {
        width: 100%;
    }
}

.required-msg {
    color: #dd0000;
    display: block;
  }
input{
    &.ng-valid.ng-touched{
        border-color:#4BB543 ;
    }
    &.ng-invalid.ng-touched {
    border-color:#dd0000 ;
}}
.signup-form>div {
    padding-left: 2rem;
    padding-right: 2rem;

}


.signup-form {
  label {
    margin-bottom: 0.2rem;
  }
    h4 {
        color: #aaa;
    }
    input {
        background-color: #222;
        color: white;
        &::placeholder{
            color: #aaa;
        }
    }
    color: #aaa;
   height: 80vh;
    position:relative;
    top: 13vh;
    background-color: #222;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    transition: ease 1s;



}
.activeForm {
    top: -50vh;
    background-color: #333;
    transition: ease 1s;
}

button {
    text-align: center;
    display: block;
}
.center {
    text-align: center;
}