.cart-item {
    border: 1px solid #e9e8ea;
    padding: 16px 16px 12px;
    background: #fff;
    text-align: center;
    flex-wrap: wrap;
    
    img {
        width: 6rem;
        height: 5rem;
    }

}